.myWorkBlock {
    height: 100vh;     /*vh-видимоя высота экрана*/
    background-color: #c9bbd5;

}

.title {
    background-color: #e2d6d6;
}

.myWorkContainer {
    flex-direction: column;
    justify-content: flex-start;     /*росположение блока по оси Х*/
}