.footersBlock {
    height: 20vh;     /*vh-видимоя высота экрана*/
    background-color: #d5ccbb;
    display: flex;
    flex-wrap: wrap;
}

.footersContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #e2d6d6;
}

.footers {
    border: 1px solid;
    /*width: 55vh;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 250px;
    max-width: 280px;
    height: 50px;
    max-height: 100px;
}
