.contactsBlock {
    height: 40vh;     /*vh-видимоя высота экрана*/
    background-color: #d5ccbb;
    display: flex;
    flex-wrap: wrap;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #e2d6d6;
}

.contacts {
    border: 1px solid;
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 280px;
    max-width: 280px;
    height: 65px;
    max-height: 100px;
}
